@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

/* This will be covered in further sessions */
* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

.outerContainer {
    background-image: url('https://assets.ccbp.in/frontend/intermediate-rwd/musical-night-bg.png');
    background-size: cover;
    padding-top: 60px;
    padding-bottom: 3px;
}

.headConatiner {
    width: 90%;
    background-color: #ffffff;
    border-radius: 10px;
    padding-top: 10px;
    margin: auto;
    max-width: 800px;
}

.main-head {
    color: #12022f;
    font-family: "Roboto";
    font-size: 32px;
    padding-left: 30px;
}

.innerConatiner {
    height: 60vh;
    background-color: #ffffff;
    margin: 10px;
    border-top: 1px solid #d3d3d3;
    padding: 32px;
    overflow-y: auto;
}

.image1 {
    border-radius: 24px;
    max-width: 400px;
}

.night {
    color: #12022f;
    font-family: "Roboto";
}

.discript {
    color: #594d6d;
    font-family: "Roboto";
    font-size: 18px;
}

.img2 {
    padding: 8px;
    min-width: 150px;
    max-width: 200px;
}
